{{ define "main" }}
<section class="hero-section">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-12 text-center">
        <h1 class="mb-4">{{ .Title }}</h1>
        <p class="lead mb-3">{{ .Params.lead | safeHTML }}</p>
      </div>
      <div class="col-lg-10 col-xl-10 text-center">
        <div class="text-center">
          <a class="btn btn-lg me-3 mb-3" href="/programs/community-grants" role="button" style="background-color: #ffeeda; color: #000000; border: none;">Community Grants Program</a>
          <a class="btn btn-lg mb-3" href="/programs/security-subsidy" role="button" style="border: 2px solid #000000; color: #000000; background-color: white;">Security Subsidy Program</a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="section section-lg">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-10 text-center">
        <h2 class="mb-4">About Scroll</h2>
        <p class="lead mb-4">Scroll is a secure, performant network for the open economy, delivering fast finality and uncompromising security without sacrifice. It offers open access for founders to scale faster using shared knowledge, and is built for everyone with open-source infrastructure that matches how people actually use onchain services.</p>
      </div>
    </div>
  </div>
</section>
{{ end }}

